

.service-image-overlay {
    background: rgb(0, 0, 0);
    background: linear-gradient(to top, rgba(1, 120, 180, 0.2), rgba(1, 120, 180, 0.5), rgba(1, 120, 180, 0.9));
    color: #f1f1f1; 
    position: absolute; 
    top: 0;
    bottom: 0;
  }