@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
html * {
  font-family: 'Poppins', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.main-banner {
  position: relative;
  text-align: center;
  color: white;
  /* background: rgb(0, 0, 0);  */
  background: rgba(0, 0, 0, 0.5);
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-banner-img {
  height: 'auto';
  max-height: '600px';
  width: '100%';
  object-fit: 'cover';
}

/* .ddd{
  background-color:#61dafb;
  width: 100px;
  height: 100px;
  transition: rotate 1s ease-in-out;
}

.ddd:hover{
  transform:perspective(100px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}



.service-tile{
  background-color:#e6e8ec;
  height:350px;
  text-align: center;
  max-width: 300px;
  
}

.service-tile-text{
  font-size:2vW;
  margin: 0 20px;
}
@media screen and (max-width: 767px) {
  .service-tile-text {
    font-size:20px;
    margin: 0 15px;
  }
  .service-tile{
    height:250px;
  }
  .service-tile-image{
    height:60px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.service-tile:hover{
  color: #0178b4;
}

@media screen and (max-width: 360px) {
  .service-tile-text {
    font-size:14px;
    margin: 0 10px;
  }
  .service-tile{
    height:200px;
  }
  .service-tile-image{
    height:45px;
    width: auto;
    margin-top: 40px;
    margin-bottom: 25px;
  }
} */

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 240px;
  border-radius: 5px;
  height: 300px;
  background-color: #ebf2f9;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.card-container-text {
  font-size: 1.4vW;
  margin: 10px 20px;
  /* color: #0178b4; */
}

.card-round-div {
  background-color: hsla(0, 0%, 100%, .8509803921568627);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center
}

.card-round-div-img {
  height: 60px;
  width: auto;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
}


.card-main-img {
  width: 100%;
  border-radius: 5px 5px 0 0
}

@media screen and (max-width: 991px) {
  .card-container-text {
    font-size: 2.5vW;
    margin: 10px 20px;
    /* color: #0178b4; */
  }
}

@media screen and (max-width: 767px) {
  .card-container-text {
    font-size: 3.5vW;
    margin: 10px 20px;
    /* color: #0178b4; */
  }
}

@media screen and (max-width: 480px) {
  .card-container-text {
    font-size: 4vW;
    margin: 10px 20px;
    /* color: #0178b4; */
  }

  .card {
    height: 240px;
  }

  .card-round-div {
    width: 80px;
    height: 80px;
    margin-top: -40px;
  }

  .card-round-div-img {
    height: 50px;
    width: auto;
  }
}


/* .blog-container{
  position: relative;
} */
.blog-list-container{
  width: 100%;
  text-align: center;
  padding: 0vW 10vW
}
.blog-container{
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom :4vW
}

.blog-image-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.blog-image{
  width:450px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.overlay {
  position: absolute; 
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  color: #f1f1f1; 
  width:450px;
  height: 300px;
  opacity:1;
  color: white;
  border-radius: 10px;
  text-align: left;
}

.blog-tile-text {
  position: absolute;
  bottom: 15px;
  left: 16px;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media screen and (max-width: 1200px) {
  .blog-image{
    width:360px;
    height: 240px;
  }

  .overlay{
    width:360px;
    height: 240px;
  }

  .blog-list-container{
    padding: 0vW 8vW
  }
  
}


@media screen and (max-width: 992px) {
  .blog-image{
    width:315px;
    height: 210px;
  }
  .overlay{
    width:315px;
    height: 210px;
  }
  .blog-list-container{
    padding: 0vW 2vW
  }
}

@media screen and (max-width: 767px) {
  .blog-image{
    width:81vw;
    height: 54vw;
  }
  .overlay{
    width:81vw;
    height: 54vw;
  }
  .blog-list-container{
    padding: 0vW 0vW
  }

  .blog-container{
    margin-bottom :6vW
  }
}